/*demo page css*/
/* Change as needed */

body{ 
  font: 70% "Trebuchet MS", sans-serif; 
  margin: 50px;
}

.headers { 
  margin-top: 2em; 
}

.slogan {
    font-size: 1.6em;
    line-height: 1.5;
    margin: 1em 0;
    width: 50%;
}

.text {
  font-size: 1.3em; 
  line-height: 1.5; 
  margin: 1em 0; 
  width: 50%;
}

#curriculum {
  width: 50%;
}

.button {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}

.button span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}

/* FROM HERE ON IS THE ORIGINAL CODE FOR THE EXAMPLE PAGE. IF SOMETHING IS
   CHANGED FOR OUR FUNCTIONALITY, PLEASE PUT IT ABOVE THIS LINE. EVERYTHING
   NOT USED SHOULD BE EVENTUALLY REMOVED. */

ul#icons {
  margin: 0; 
  padding: 0;
}

ul#icons li {
  margin: 2px; 
  position: relative; 
  padding: 4px 0; 
  cursor: pointer; 
  float: left;  
  list-style: none;
}

ul#icons span.ui-icon {
  float: left; 
  margin: 0 4px;
}

