
{% extends "layout.html" %}

{% block body %}

<h1>Welcome to CVBuilder</h1>
<p class="slogan"> Because companies should not be forced to look at your ugly and incomplete curriculum.</p>
<p class="text"> Developed by Jo&atilde;o Palotti and Giselle Machado. </p>

<p class="text">Username:<input id="username" type="text"/></p>
<p class="text">Password:<input id="password" type="password"/></p>

<p class="text"><a href="#" id="login" class="ui-state-default ui-corner-all button"><span class="ui-icon ui-icon-check"></span>Login</a></p>

{% endblock %}
